@charset "UTF-8";
.swiper-container .swiper-wrapper .swiper-slide button {
  background: green;
  color: #fff; }

* {
  margin: 0;
  padding: 0; }

.swiper-wrapper .slide-1 {
  background: url(../img/1.jpg) center;
  background-size: 100% 100%;
  flex-direction: column; }

.swiper-wrapper .slide-2 {
  background: url(../img/2.jpg) center;
  background-size: 100% 100%;
  flex-direction: column;
  position: relative; }

.swiper-wrapper .slide-3 {
  background: url(../img/3.jpg) center;
  background-size: 100% 100%;
  flex-direction: column;
  justify-content: flex-end; }

#enter {
  width: 150px;
  height: 30px;
  border: 0;
  margin-bottom: 5%;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 3px 1px #fff;
  font-size: 10px;
  line-height: 30px;
  font-family: "微软雅黑";
  animation-iteration-count: infinite; }

.touxiang {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden; }

.touxiang img {
  height: 100%; }

.musPic {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 5%;
  right: 5%;
  animation: rotate 10s linear infinite;
  transform: rotateX(30deg);
  border: 5px solid rgba(255, 255, 255, 0.5);
  z-index: 9999; }

@keyframes rotate {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.musPic img {
  height: 100%;
  transform: scale(2); }
